# Default values for the Flask String Api
replicaCount: 1

image:
    repository: flask-api
    tag: latest
    # pullPolicy: IfNotPresent
    pullPolicy: Never

service:
    type: ClusterIP
    port: 80
    targetPort: 5000

resources:
    limits:
        cpu: 200m
        memory: 256Mi
    requests:
        cpu: 100m
        memory: 126Mi

ingress:
    enabled: false
    className: ""
    annotations:
      # kubernetes.io/tls-acme: "true"
      # nginx.ingress.kubernetes.io/ssl-redirect: "false"
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: flask-api.local
        paths:
          - path: /
            pathType: Prefix
    tls: []
    # - secretName: flask-api-tls
    #   hosts:
    #     - flask-api.local

# Pod-specific configurations
podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}

# Application-specific configurations
app:
    config: {}

# MySQL configuration
mysql:
    enabled: true
    auth:
        existingSecret: mysql-credentials
        database: strings_db
    primary:
        persistence:
            size: 8Gi
    initContainer:
            enabled: true

